.nav_bar_container {
  background-color: #2667c8;
  display: flex;
  color: #fff;
  padding: 1em 0;
  flex: 0 0 auto;
  position: fixed;
  width: 100%;
}

.nav_title {
  display: inline-flex;
  align-items: center;
  flex: 1;
  min-height: 3em;
  overflow: hidden;
}

#title {
  display: inline-flex;
  align-items: center;
  /* margin-left: 1em; */
  padding: 0.2em 0 0.2em 2.1em;
  font-size: 1.8em;
  background-size: 1.6em;
  background-position-y: center;
  white-space: nowrap;
  color: white;
  text-decoration: none;
}

#tools {
  display: flex;
  align-items: center;
  background-color: inherit;
  margin-top: 0.3s;
  padding-right: 1em;
}

.sub_tools {
  width: 12em;
  margin-left: 0.5em;
  margin-right: 1em;
  align-items: center;
  min-width: 3em;
  color: #4f5964;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.tools_buttons {
  margin-left: 0.5em;
  margin-right: 1em;
  align-items: center;
  min-width: 3em;
  color: #4f5964;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.tool_title {
  color: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input_field_container {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e1e2;
  min-width: 0;
  position: relative;
  margin-left: 1em;
}

#record_input_field {
  background-color: transparent;
  color: inherit;
  padding: 0.8em;
  font-weight: 400;
  flex: 1 1 0px;
  border: 0 none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  min-width: 1em;
}

.scroll_button {
  margin-left: 0.5em;
  color: #fff;
  border: none;
  background-color: #feac31;
  position: relative;
  padding: 0 1em;
  border-radius: 2px;
  min-width: 3em;
  min-height: 3em;
  cursor: pointer;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
}

.arrow_img {
  height: 1em;
  width: 1em;
}
